<header class="w-full px-4 pt-4">

    <nav class="fixed bg-axolotl-800 text-gray-500 inset-x-0 top-0 w-screen h-10 shadow flex">
        <a href="{{ .Site.Home.Permalink }}" class="flex ml-2 items-center no-underline text-gray-500 hover:text-axolotl-400 font-bold">
            {{ .Site.Title }}
        </a>
        <ul class="hidden ml-10 md:inline-flex items-center">
            {{ with .Site.GetPage "/about" }}
            <li class="px-2 md:px-2">
              <a href="{{ .Permalink }}" class="font-semibold no-underline hover:text-axolotl-400 "> {{ .Title }} </a>
            </li>
            {{ end }}
            {{ range .Site.Sections }}
            <li class="px-2 md:px-2">
                <a href="{{ .Permalink }}" class="font-semibold no-underline hover:text-axolotl-400 "> {{ .Title }} </a>
              </li>
            {{ end }}
            <li class="px-2 md:px-2">
              <a href="" class="font-semibold no-underline hover:text-axolotl-400 "> About </a>
            </li>
            <li class="px-2 md:px-2">
              <a href="" class="font-semibold no-underline hover:text-axolotl-400 "> Contact </a>
            </li>
            </li>
          </ul>
    </nav>
</header>