
{{ define "main" }}
<main>
    <article class="ml-auto mr-auto text-center">
        <header>
            <h1>{{.Title}}</h1>
            {{.Content}}
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
       
    </article>
    <ul class="w-6/12 ml-auto mr-auto">
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li>
            <a class="text-4xl text-gray-400 underline" href="{{.Permalink}}">{{.Title}}</a><br>
            {{.Date.Format "2006-01-02"}}
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}