
{{ define "main" }}
<main class="w-11/12 mt-10 ml-auto mr-auto xl:w-8/12">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {{ range .Pages }}
            <div class="bg-axolotl-800 overflow-hidden border-gray-400 m-1 p-2">
                <div class="m-2 text-justify text-sm">
                    <p class="text-right text-s">{{.Date.Format "2006-01-02"}}</p>
                    <h2 class="font-bold text-lg h-2 mb-8">{{.Title}}</h2>
                    <p class="text-m leading-4">
                        {{ .Summary }}                    
                    </p>
                </div>
                <div class="w-full text-right mt-4">
                    <a class="uppercase font-bold text-sm hover:text-white text-green-700" href="{{ .Permalink }}">Read More</a>
                </div>
            </div>
            
            <div class="bg-axolotl-800 overflow-hidden border-gray-400 m-1 p-2">
                <div class="m-2 text-justify text-sm">
                    <p class="text-right text-s">{{.Date.Format "2006-01-02"}}</p>
                    <h2 class="font-bold text-lg h-2 mb-8">{{.Title}}</h2>
                    <p class="text-m leading-4">
                        {{ .Summary }}                    
                    </p>
                </div>
                <div class="w-full text-right mt-4">
                    <a class="uppercase font-bold text-sm hover:text-white text-green-700" href="{{ .Permalink }}">Read More</a>
                </div>
            </div>

            <div class="bg-axolotl-800 overflow-hidden border-gray-400 m-1 p-2">
                <div class="m-2 text-justify text-sm">
                    <p class="text-right text-s">{{.Date.Format "2006-01-02"}}</p>
                    <h2 class="font-bold text-lg h-2 mb-8">{{.Title}}</h2>
                    <p class="text-m leading-4">
                        {{ .Summary }}                    
                    </p>
                </div>
                <div class="w-full text-right mt-4">
                    <a class="uppercase font-bold text-sm hover:text-white text-green-700" href="{{ .Permalink }}">Read More</a>
                </div>
            </div>

            <div class="bg-axolotl-800 overflow-hidden border-gray-400 m-1 p-2">
                <div class="m-2 text-justify text-sm">
                    <p class="text-right text-s">{{.Date.Format "2006-01-02"}}</p>
                    <h2 class="font-bold text-lg h-2 mb-8">{{.Title}}</h2>
                    <p class="text-m leading-4">
                        {{ .Summary }}                    
                    </p>
                </div>
                <div class="w-full text-right mt-4">
                    <a class="uppercase font-bold text-sm hover:text-white text-green-700" href="{{ .Permalink }}">Read More</a>
                </div>
            </div>

            <div class="bg-axolotl-800 overflow-hidden border-gray-400 m-1 p-2">
                <div class="m-2 text-justify text-sm">
                    <p class="text-right text-s">{{.Date.Format "2006-01-02"}}</p>
                    <h2 class="font-bold text-lg h-2 mb-8">{{.Title}}</h2>
                    <p class="text-m leading-4">
                        {{ .Summary }}                    
                    </p>
                </div>
                <div class="w-full text-right mt-4">
                    <a class="uppercase font-bold text-sm hover:text-white text-green-700" href="{{ .Permalink }}">Read More</a>
                </div>
            </div>

            <div class="bg-axolotl-800 overflow-hidden border-gray-400 m-1 p-2">
                <div class="m-2 text-justify text-sm">
                    <p class="text-right text-s">{{.Date.Format "2006-01-02"}}</p>
                    <h2 class="font-bold text-lg h-2 mb-8">{{.Title}}</h2>
                    <p class="text-m leading-4">
                        {{ .Summary }}                    
                    </p>
                </div>
                <div class="w-full text-right mt-4">
                    <a class="uppercase font-bold text-sm hover:text-white text-green-700" href="{{ .Permalink }}">Read More</a>
                </div>
            </div>

            <div class="bg-axolotl-800 overflow-hidden border-gray-400 m-1 p-2">
                <div class="m-2 text-justify text-sm">
                    <p class="text-right text-s">{{.Date.Format "2006-01-02"}}</p>
                    <h2 class="font-bold text-lg h-2 mb-8">{{.Title}}</h2>
                    <p class="text-m leading-4">
                        {{ .Summary }}                    
                    </p>
                </div>
                <div class="w-full text-right mt-4">
                    <a class="uppercase font-bold text-sm hover:text-white text-green-700" href="{{ .Permalink }}">Read More</a>
                </div>
            </div>

            <div class="bg-axolotl-800 overflow-hidden border-gray-400 m-1 p-2">
                <div class="m-2 text-justify text-sm">
                    <p class="text-right text-s">{{.Date.Format "2006-01-02"}}</p>
                    <h2 class="font-bold text-lg h-2 mb-8">{{.Title}}</h2>
                    <p class="text-m leading-4">
                        {{ .Summary }}                    
                    </p>
                </div>
                <div class="w-full text-right mt-4">
                    <a class="uppercase font-bold text-sm hover:text-white text-green-700" href="{{ .Permalink }}">Read More</a>
                </div>
            </div>

            <div class="bg-axolotl-800 overflow-hidden border-gray-400 m-1 p-2">
                <div class="m-2 text-justify text-sm">
                    <p class="text-right text-s">{{.Date.Format "2006-01-02"}}</p>
                    <h2 class="font-bold text-lg h-2 mb-8">{{.Title}}</h2>
                    <p class="text-m leading-4">
                        {{ .Summary }}                    
                    </p>
                </div>
                <div class="w-full text-right mt-4">
                    <a class="uppercase font-bold text-sm hover:text-white text-green-700" href="{{ .Permalink }}">Read More</a>
                </div>
            </div>

            <div class="bg-axolotl-800 overflow-hidden border-gray-400 m-1 p-2">
                <div class="m-2 text-justify text-sm">
                    <p class="text-right text-s">{{.Date.Format "2006-01-02"}}</p>
                    <h2 class="font-bold text-lg h-2 mb-8">{{.Title}}</h2>
                    <p class="text-m leading-4">
                        {{ .Summary }}                    
                    </p>
                </div>
                <div class="w-full text-right mt-4">
                    <a class="uppercase font-bold text-sm hover:text-white text-green-700" href="{{ .Permalink }}">Read More</a>
                </div>
            </div>

        {{ end }}
    </div>
</main>
{{ end }}